<li>
	{{name}}

	<button class="change-devoured" data-id=`{{id}}` data-newDevoured=`{{devour}}`>
		{{#if devoured}}Devoured!{{else}}Time to feast!{{/if}}
	</button>

	<button class="delete-burger" data-id=`{{this.id}}`>DELETE!</button>
</li>
